name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu,x86_64-unknown-linux-musl]

    steps:
    - uses: actions/checkout@v4
    - name: Build for linux
      run: cargo build --verbose --release --target=${{ matrix.target }}
    - name: Upload linux binaries to release
      env:
        GH_TOKEN: ${{ github.token }}
      run: gh release upload ${{ github.event.release.tag_name }}  ./target/${{ matrix.target }}/release/lrcfetch#lrcfetch-${{ matrix.target }}
