name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build for linux
      run: cargo build --verbose --release
    - name: Upload linux binaries to release
      run: gh release upload ${{ github.ref }} ./target/release/lrcfetch
