name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build for linux
      run: cargo build --verbose --release
    - name: Upload linux binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: target/release/lrcfetch
        asset_name: lrcfetch-x86_64-unknown-linux-gnu
        tag: ${{ github.ref }}
        overwrite: true
      
