name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose --release --target=x86_64-unknown-linux-gnu
    - name: Upload linux binaries to release
      env:
        GH_TOKEN: ${{ github.token }}
      run: gh release upload ${{ github.event.release.tag_name }}  ./target/x86_64-unknown-linux-gnu/release/lrcfetch#lrcfetch-x86_64-unknown-linux-gnu
