name: Rust

on:
  release:
    types: [created]

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: write

jobs:
  build:

    strategy:
      matrix:
        platform:
          - target: x86_64-unknown-linux-gnu
            os: ubuntu-latest
          - target: x86_64-unknown-linux-musl
            os: alpine-latest
    runs-on: ${{ matrix.platform.os }}
    steps:
    - uses: actions/checkout@v4
    - name: Build for linux
      run: cargo build --verbose --release --target=${{ matrix.platform.target }}
    - name: Upload linux binaries to release
      env:
        GH_TOKEN: ${{ github.token }}
      run: gh release upload ${{ github.event.release.tag_name }}  ./target/${{ matrix.platform.target }}/release/lrcfetch#lrcfetch-${{ matrix.platform.target }}
